@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Martian+Mono&family=Roboto:wght@300;500&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* cards */
@layer components {
  .card {
    @apply bg-card text-card-foreground;
  }
}
/* ----------------------------------------------------------------- */
/* fonts */
.martian {
  font-family: "Martian Mono", monospace;
}

.thirdFont {
  font-family: "Staatliches", monospace;
}

.thirdFont2 {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.fourthFont {
  font-family: "Fascinate Inline", cursive;
}
.fourthFont2 {
  font-family: "Federo", sans-serif;
}

.fifthFont {
  font-family: "Limelight", cursive;
}

.fifthFont2 {
  font-family: "Space Mono", monospace;
}

.sixthFont {
  font-family: "Monoton", cursive;
}

.sixthFont2 {
  font-family: "Albert Sans", sans-serif;
}

.seventhFont {
  font-family: "Bowlby One", cursive;
}

.seventhFont2 {
  font-family: "Manrope", sans-serif;
}

.eighthFont {
  font-family: "League Gothic", sans-serif;
}

.eighthFont2 {
  font-family: "DM Sans", sans-serif;
}

.ninthFont {
  font-family: "Climate Crisis", sans-serif;
}

.ninthFont2 {
  font-family: "Manrope", sans-serif;
}
